@import "AuiVariables.less";
@import "DndVariables.less";


/* TempUploadProgressBar styles */

.temp-upload-progress-bar__parent-container {
  position: relative;
  margin: 10px 10px 0 10px;
  display: inline-block;
  width: @temp-prog-bar-parent-width;

  .temp-upload-progress-bar__container {
    position: relative;
    display: block;
    width: @temp-prog-bar-width;
    height: @temp-prog-bar-height;
    float: left;
    padding: @temp-prog-bar-padding;
    background-color: @adg-color-light-gray;
    border-radius: 3px;
    margin-bottom: 5px;
    text-align: center;

    .issue-drop-zone__drop-icon {
      position: relative;
      background-image: inlineimage("images/drop-icon.svg");
      background-position: 0 0;
      width: 24px;
      height: 21px;
      display: inline-block;
      content: " ";
      &:before {
        content: none;
      }
    }

    .upload-progress-bar__thumbnail {
      display: inline;
      border: 0;
      width: auto;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);

      img {
        vertical-align: middle;
        max-width: @image-thumbnail-width;
        max-height: @image-thumbnail-height;
        min-width: 0;
        min-height: 0;
      }
    }
    .upload-progress-bar__thumbnail.upload-progress-bar__other-file-thumbnail {
      display: block;
      height: auto;
      box-shadow: none;
      .aui-icon {
        height: 64px;
        width: 64px;
        margin: 10px;
        &:before {
          font-size: 64px;
          top: 0;
          margin-top: 0;
          color: @adg-color-ash-gray;
        }
      }
    }

    .upload-progress-bar__progress-bar {
      position: absolute;
      visibility: hidden;
      height: 5px;
      left: 10px;
      right: 10px;
      top: 50%;
      border-radius: 0;
      .upload-progress-bar__bar {
        border-radius: 0;
      }
    }
    .upload-progress-bar__control {
      position: absolute;
      right: -3px;
      top: -3px;
      .aui-icon {
        // We don't need the text-indent since there is no text in the span (and it causes weird focus borders in FF)
        text-indent: 0;
      }
    }

    .upload-progress-bar__control button,
    .upload-progress-bar__control button:hover,
    .upload-progress-bar__control button:focus {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: @adg-color-medium-gray;
      height: 17px;
      width: 17px;

      .aui-icon {
        color: white;
        &:before {
          font-size: 12px;
          margin-left: 2px;
        }
      }
    }

    .upload-progress-bar__error {
      display: none;
      width: 100%;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      .upload-progress-bar__error-indicator {
        margin-left: auto;
        margin-right: auto;
        width: 24px;
        color: @adg-color-red;
        .aui-icon:before {
          font-size: 24px;
        }
      }
      .upload-progress-bar__error-text {
        color: @adg-color-red;
        text-align: center;
      }
    }
    .upload-progress-bar__upload-mask {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.7);
    }
  }

  .upload-progress-bar__file-name {
    position: relative;
    display: block;
    white-space: nowrap;
    height: auto;
    width: @temp-prog-bar-parent-width;
    word-wrap: normal;
    padding-left: 5px;
    box-sizing: border-box;
    margin: 5px 0;
    text-align: center;
    font-size: 12px;
  }
}

div.temp-upload-progress-bar__uploading {
  div.upload-progress-bar__file-name {
    color: @adg-color-medium-gray
  }
  div.temp-upload-progress-bar__container {
    div.upload-progress-bar__progress-bar {
      visibility: visible;
    }
    div.upload-progress-bar__upload-mask {
      visibility: visible;
    }
  }
}

.mozilla .upload-progress-bar_file-name-container {
  float:left;
}